// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
    min-height: 100%;
    margin: 0;
}

h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}