// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

html {
    box-sizing: border-box;
}
#root{
    height:100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    min-height: 100%;
    margin: 0;
}
a{
    text-decoration: none;
}
p{
    font-size: 16px;
}
h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
h2{
    text-align: center;
}
.smallSpan{
    font-size:12px;
}
.content{
    white-space: pre-line;
    padding: 15px 40px;
}