@import "/resources/sass/_variables.scss";


//https://coryrylan.com/blog/css-gap-space-with-flexbox
@media (min-width: $mobile-width){
    .cardListContainer {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        max-width: 1200px;
    };
};